<ul class="list-group p-3 mb-2 bg-success text-black border border-warning">
  <h1 class="p-3 mb-2 bg-primary text-white">Experiences</h1>
  <br>
  <h5 class="container">Revature: Full Stack Java developer</h5>
<br>
  <li class="list-group-item">Involving in requirement analysis, design of multiple modules during the development
    phase.</li>
  <li class="list-group-item"> Involved in the development of User Interface components</li>
  <li class="list-group-item">Developed web front end using HTML and Java scripts.</li>
  <li class="list-group-item">Developed server-side utilities using J2EE technologies Servlets.</li>
  <li class="list-group-item">Involved in development of view components.</li>
  <li class="list-group-item">Designed and developed Data Access Objects (DAO) to access the database.</li>
</ul>